@import "../library/colors.scss";
.row {
  display: flex;
  flex-wrap: wrap;
  width: 1480px;
  margin: 0px auto;
}
.contact_st {
  display: flex;
  flex-direction: column;
}
.contact_title {
  font-size: 46px;
  font-family: "Heavy";
  color: black;
  margin-top: 28px;
  margin-bottom: 6px;
}
.contact-txt1 {
  font-size: 20px;
  font-family: "Medium";
}
.contact_col4-item {
  width: 100%;
  height: 130px;
  background-color: #f9f9f9;
  padding: 35px 40px;
  display: flex;
  gap: 35px;
  border-radius: 20px;
}
.inside_col4 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: fit-content;
}
.inside_col4 {
  width: 100%;
}
.inside_col8 {
  width: 100%;
}
.contact_txt-up {
  font-size: 20px;
  font-family: "Medium";
}
.contact_txt-down {
  font-size: 16px;
  font-family: "Medium";
}
.right_part-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mt32 {
  margin-top: 32px;
}
.col4_img {
  object-fit: contain;
}
.purple {
  font-size: 16px;
  color: $purple;
  background-color: #f9f9f9;
}
.social {
  display: flex;
  gap: 12px;
}
.bold24 {
  font-family: "Bold";
  font-size: 24px;
}
.medium16 {
  font-family: "Medium";
  font-size: 16px;
}
.inside_col8 {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.col8_item-con {
  display: flex;
  justify-content: space-between;
}
.contact_item1 {
  gap: 12px;
  flex-direction: column;
}
.input_ {
  width: 96%;
  font-size: 16px;
  font-family: "Meidum";
  height: 60px;
  background-color: #f2f2f2;
 
  border-radius: 8px;
  padding: 12px;
  
  &:focus {
    border: 2px solid $purple;
    background-color: white !important;
  }
  &::placeholder{
    font-family: "Medium";
  }
}
.dfc {
  display: flex;
  flex-direction: column;
}
.contact_item-gap8 {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  gap: 8px;
}
.left{
  position: relative;
  left: 0;
}
.right{
  position: relative;
  right: -18px;
}
.contact_item3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
textarea::placeholder{
    font-family: "Medium";
}
textarea {
height: 148px;
width:100%;
font-size: 16px;
font-family: "Meidum";
resize: none;
background-color: #f2f2f2;
border: none;
border-radius: 8px;
padding: 12px;

&:focus {
  border: 2px solid $purple;
  background-color: white !important;
}
}
.gray {
  color: gray;
}
.medium {
  font-family: "Medium";
}
.lastbtn {
  width: 199px;
  height: 60px;
  letter-spacing: 0.01em;
  font-size: 18px;
  font-family: "Semi-bold";
}
