.widthfit{
    width: fit-content;
}
.mr5{
    margin-right: 15px;
}
.head_offer{
    font-size: 32px;
    font-family: "Heavy";
    color: black;
    width: 796px;
height: 54px;
line-height: 54px;
}
.offer_text{
    width: 649px;
    height: 56px;
    
    font-family: 'Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    letter-spacing: 0.02em;
    
    color: #585858;
    
}
.w733{
    width: 733px;
}
.offerbox
{
    margin: 50px 0px;
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px;
gap: 24px;

width: 945px;
height: 294px;

background: #EFEFFF;
border-radius: 20px;
}
.gap24{
    gap: 24px;
}