@import "../library/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mt28 {
  margin-top: 28px;
  position: absolute;
  top: 28px;
  left: 50px;
}

body {
  font-family: medium;
}

nav {
  border-bottom: 1px solid #e4e4ea;
  width: 100%;
  height: 9%;
  display: flex;
  justify-content: space-between;
}

.firstitem {
  display: flex;
  width: 30%;
  // justify-content: center;
  align-items: flex-start;
}

.ulhead {
  display: flex;
  transform: none;
  list-style-type: none;
  width: 355px;
  justify-content: flex-start;
  margin: auto;
  gap: 15px;
  margin-left: 225px;

  // border: 1px solid black;
  span {
    font-size: 16px;
  }

  li {
    font-size: 16px;
    padding: 10px 15px;
    padding-top: 0px;

    width: 100px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: black;
      font-family: "Semi-bold";
      width:100px   ;
      display: block;
      &:hover,
      :active,
      :visited {
        text-decoration: none;
        color: $purple;
        transform: none;
        border-bottom: none;
      }
    }

    &:hover,
    :active {
      color: $purple;
      border-bottom: 1px solid $purple;
    }
  }
}

.imghead {
  margin: auto;
  margin-left: 15px;
  width: 120px;
  height: 40px;
}

.btnhead {
  width: 82px;
  height: 48px;
  margin-left: auto;
  margin-right: 68px;
  margin-bottom: 24px;
  margin-top: 24px;
  border-radius: 8px;
  border: 0px;
  color: white;
  background-color: #78258d;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -55px;
  top: 55px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  transition-duration: 1s;
  transition-delay: 1s;
  &:hover {
    display: block;
  }

  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.15));

  &:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid rgb(255, 255, 255);
    position: absolute;
    top: -25px;
    left: 75px;
  }
}

.dropdown {
  position: relative;
}

span {
  &.dropbtn {
    margin: auto;
    font-size: 16px;
    font-family: "Semi-bold";
    &:visited,
    &:active {
      border-bottom: none;
    }
  }
  &.open {
    margin: auto;
    font-size: 16px;
    font-family: "Semi-bold";
    &:visited,
    &:active {
      border-bottom: none;
    }

    & + .dropdown-content {
      display: block;
      transition-duration: 700ms;
    }
  }
}
.arrow_up {
  position: relative;
  transform: rotate(180deg);
  left: -10px;
  top: 3px;
  border-bottom: 0px;

  &:visited,
  &:active {
    border-bottom: 0px;
    // transform: rotate(0deg);
  }
}
.ulhead li .arrow_up:hover,
.ulhead li .arrow_up :active {
  color: #78258d;
  border-bottom: none;
}
.nostyle {
  &:active {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}

.dropitem {
  a {
    width: fit-content !important;
    text-decoration: none;
    padding: 5px 0px;
  }
 &.active{
  border-bottom: 0px !important;
 }
  border-bottom: 1px solid #e7e7e7;
  width: 194px;
  height: 44px;
  padding: 10px 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  font-family: "Semi-bold";
  background-color: white;
}

.border_radius-up10 {
  border-radius: 10px 10px 0 0;
}

.border_radius-down10 {
  border-radius: 0 0 10px 10px;
  border-bottom: 0;
}
