@import "../library/colors.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mt28 {
    margin-top: 28px;
    position: absolute;
    top: 28px;
    left: 50px;
}

body {
    font-family: medium;
}

nav {
    border-bottom: 1px solid #e4e4ea;
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-between;
}

.firstitem {
    display: flex;
    width: 580px;
    // justify-content: center;
    align-items: flex-start;
}

.ulhead {
    display: flex;
    list-style-type: none;
    width: 355px;
    justify-content: flex-start;
    margin: auto;
    gap: 15px;
    margin-left: 225px;

    // border: 1px solid black;
    span {
        font-size: 16px;
    }

    li {
        font-size: 16px;
        padding: 10px 15px;
        padding-top: 0px;
        // margin-right: 15px;
        cursor: pointer;

        // border: 1px solid black;
        a {
            // text-decoration: none;
            color: black;

            &:hover,
            :active {
                text-decoration: none;
                color: $purple;
                border-bottom: 1px solid $purple;
            }
        }

        &:hover,
        :active {
            color: $purple;
            border-bottom: 1px solid $purple;
        }
    }
}

.imghead {
    margin: auto;
    margin-left: 15px;
    width: 120px;
    height: 40px;
}

.btnhead {
    width: 82px;
    height: 48px;
    margin-left: auto;
    margin-right: 68px;
    margin-bottom: 24px;
    margin-top: 24px;
    border-radius: 8px;
    border: 0px;
    color: white;
    background-color: #78258D;
}

.dropdown-content {
    display: none;
}

.dropbtn:hover+.dropdown-content {
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    width: 194px;
    height: 142px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
}

.dropitem {
    width: 194px;
    height: 44px;
    padding: 10px 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-family: "Semi-bold";
    background-color: white;
}