@import '../../library/colors';

.outline {
    position: absolute;
    right: 0;
    bottom: 0;
    // padding-bottom: 5px;
}

.width119 {
    width: 119px;
    font-size: 15px;
}

.insidequote {
    width: 700px;
    height: 326px;
    background: #FDEDE4;
    border-radius: 10px;
}
.mt100{
    margin-top: 100px;
}
.h16 {
    font-size: 16px;
}

.border1 {
    border: 1px solid  #FDEDE4;

}

.p16w620 {
    font-size: 16px;
    width: 620px;
}

.h20 {
    font-size: 20px;
    font-family: "Medium";
}

.quoteline1 {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 20px;
}

.black {
    color: gray;
}

.quoteline2 {
    width: 620px;
    margin: auto;
}


.splide__pagination {
    bottom: -50px;

}

.splide__pagination__page {


    width: 12px;
    height: 12px;
    background-color: lighten($purple, 10%);

    &.is-active {
        // transition-duration: 300ms;
        background-color: darken($purple, 20%);
        border: 5px solid white;
        transform: scale(1);
        outline: 4px solid darken($purple, 20%);
        padding: 8px;

        width: 12px;
        height: 12px;
    }
}

.w700 {
    width: 700px;
}
.d-flexq {
    position: relative;
    width: 1439px;
}