@import './library/colors.scss';
@import './library/grid.scss';
@import './library/font.scss';
@import './library/class.scss';
@import './components/Header.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: medium;
}

.d-flex {
    display: flex;
    // justify-content: space-between;
}

.aic {
    display: flex;
    align-items: center;
}
.sticky{
    position: sticky;
  z-index: 1;
    top: 0;
    background-color: white
}