.l714 {
    width: 714px;
    // position: absolute;
    margin: auto;
}

.centeredrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;
}

// .mainrow{
//     margin-top: 100px;
.headercntr {
    // width: 100%;
    // height: 50px;
    // border: 1px solid black;
}

.centeredcont {
    display: flex;
    flex-direction: column;
    // border: 1px solid blue;
    // justify-content: center;
}

.boyandgirl {
    width: 702px;
    height: 422px;
}
#forleft{
    display: flex;
    margin: auto;
    // border: 1px solid black;
    justify-content: center;
    // align-items: center;
}
.col-sm-12 {
    border: none;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
}
.all{
    // border: 1px solid green;
    width: fit-content;
    height: 200px;
}
// }
.mt-100 {
    margin-top: 100px;
}

.p20 {
    font-size: 20px;
    color: #4F4F4F;
}

.passage {
    gap: 10px;
    width: 578px;
    height: 188px;
}

.mt-22 {
    margin-top: 22px;
    margin-bottom: 19px;
}

.number {
    background-color: #2E90D1;
    width: 63px;
    height: 28px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}