@import '/src/styles/library/colors.scss';

.item_f {
    padding: 40px;
    gap: 20px;
    border-radius: 10px;
    width: 453px;
    height: 325px;
    margin-top: 60px;
    background: #DEF1FF;
}

.direction {
    display: flex;
}

.item_s {
    padding: 40px;
    gap: 20px;
    border-radius: 10px;
    width: 453px;
    height: 325px;
    margin-top: 60px;
    background: #FDEDE4;

}

.item_t {
    padding: 40px;
    gap: 20px;
    border-radius: 10px;
    width: 453px;
    height: 325px;
    margin-top: 60px;
    background: #EFEFFF;

}

h5 {
    width: 141px;
}

h4 {
    margin: auto;
    color: black;
    font-family: 'Bold';
}

.mainlast {
    align-items: center;
    width: 373px;
    gap: 90px;
    height: 34px;
    display: flex;
    // border: 1px solid black;
    margin-top: 20px;

}

.lastlayer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.course {
    border: 1px solid black;
}

// .row {

// }

.fortext {

    margin-top: 20px;
}

.d-flex {
display: flex;
}
.p16{
    font-size: 16px;

}

.spliding {
    width: 1439px;
    margin-bottom: 100px;
}

.without {
    border: none;

}

.splide__pagination {
    bottom: -50px;

}

.splide__pagination__page {


    width: 12px;
    height: 12px;
    background-color: lighten($purple, 10%);
    &.is-active {
        // transition-duration: 300ms;
        background-color:darken($purple,20%);
        border: 5px solid white;
        transform: scale(1);
        outline: 4px solid darken($purple,20%);
        padding:8px;
        
    width: 12px;
    height: 12px;
    }
}

.norm {
    font-weight: normal;
}

.bold {
    font-weight: bold;
    margin-left: 5px;
}