.h46heavy {
    font-size: 46px;
    font-family: "Heavy";
}
.p18semibold{
    font-size: 18px;
    font-family: "Semi-bold";
}
.mb30{
    margin-bottom: 30px;
}
.mb60{
    margin-bottom: 60px;
}
.stlinef{
    width: 453px;
    height: 194px;
}