.meditation {
    height: 650px;
    // width: 1440px;
    background: linear-gradient(135deg, rgba(46, 144, 209, 0.1) 0%, rgba(120, 37, 141, 0.1) 100%);
    border-radius: 40px;
    display: flex;
    margin-bottom: 100px;
}

.paddingcol12{

    &.faqview{
        padding: 42px 0px;
    }
}

.l2go {
    letter-spacing: 0.01em;

    background: linear-gradient(132.51deg, #2E90D1 61.42%, #78258D 83.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.circle {
    position: absolute;
    width: 20px;
    height: 24px;
    border-radius: 50%;
    display:flex;
    background: linear-gradient(132.51deg, #2E90D1 61.42%, #78258D 83.67%);
}
.mb0{
margin-bottom: 0;
}
.onething {
    display: flex;
    // height: auto;
    // border:1px solid red    ;
    height: fit-content;
    // position: relative;
    width: 596px;
    // 
    // text-align: end;
    font-size: 20px;
}
.pas{
    // position: absolute;
    margin-left: 30px;
}

// .p20{
//     display: block;
//     border: 1px solid black;
//     position: relative;
// }
.wholething {
    margin-top: 24px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    // border: 1px solid yellow;
}