// $purple: #78258D;
@import './colors.scss';

.btn {
    background-color: $purple;
    padding: 12px 18px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-family: "Semibold";
    border: 1px solid $purple;

    &:hover {
        background-color: lighten($purple, 10%);
    }

    &.outline {
        background: unset;
        color: $purple;
        font-family: 'Regular';
        font-size: 16px;
        width: 111px;
        height: 48px;
        padding: 12px;
        transition-duration: 300ms;
        border: 2px solid $purple;
        font-weight: 600;

        // border: lighten($purple, 10%)
        &:hover {
            background-color: $purple;
            border: 1px solid $purple;
            color: white;

        }
    }
}