@font-face {
    font-family: 'Regular';
    src: url('/src/assets/fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: 'Bold';
    src: url('/src/assets/fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: 'Semi-bold';
    src: url('/src/assets/fonts/Gilroy-SemiBold.ttf');
}

@font-face {
    font-family: 'Black';
    src: url('/src/assets/fonts//Gilroy-Black.ttf');
}

@font-face {
    font-family: 'Heavy';
    src: url('/src/assets/fonts/Gilroy-Heavy.ttf');
}

@font-face {
    font-family: 'Medium';
    src: url('/src/assets/fonts/Gilroy-Medium.ttf');
}

@font-face {
    font-family: 'Light';
    src: url('/src/assets/fonts/Gilroy-Light.ttf');
}